{% extends "layout.html" %} {% block title %} index {% end %} {% block content
%}

<div class="border p-3">
  {% if current_user %} {{current_user}} {% if not current_user[4] %}
  <form action="/getkey" method="post">
    {% module xsrf_form_html() %}
    <button class="btn btn-success">Generate a key</button>
  </form>
  {% end %} {% else %}
  <div class="card mx-auto" style="width: 18rem">
    <img
      src="{{static_url('kanye-home.jpeg')}}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">Authenticate yourself to see in kanye quotes</p>
      <a href="/login" class="card-link">Login</a>
      <a href="/createacct" class="card-link">create_acct</a>
    </div>
  </div>

  {% end %}
</div>

{% end %}
