{% extends "layout.html" %} {% block title %} index {% end %} {% block content
%}

<div class="border p-3">
  {% if current_user %}
  <p>wlecome</p>
  {% else %}
  <div class="card mx-auto" style="width: 18rem">
    <img
      src="{{static_url('kanye-home.jpeg')}}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">Authenticate yourself to see in kanye quotes</p>
      <a href="/login" class="card-link">Login</a>
      <a href="/createacct" class="card-link">create_acct</a>
    </div>
  </div>

  {% end %}
</div>

{% end %}
