{% extends "layout.html" %} {% block title %} index {% end %} {% block content
%}

<div class="p-3">
  {% if current_user %}
  <p class="key">{{current_user[4]}}</p>

  <div class="card mx-auto" style="width: 18rem">
    <img src="{{static_url('kanye.jpeg')}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <button class="btn btn-dark generate-key-btn">Get kanye quote</button>
    </div>
  </div>
  <p
    class="display-5 quote fw-bolder border text-center mx-auto"
    style="width: 50rem"
  ></p>

  {% else %}

  <div class="card mx-auto" style="width: 18rem">
    <img
      src="{{static_url('kanye-home.jpeg')}}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <p class="card-text">Authenticate yourself to see in kanye quotes</p>
      <a href="/login" class="card-link">Login</a>
      <a href="/createacct" class="card-link">create_acct</a>
    </div>
  </div>

  {% end %}
</div>

{% end %}
