{% extends "layout.html" %} {% block title %} index {% end %} {% block content
%}

<div class="border w-25 mx-auto">
  <form action="/login" method="post">
    <div class="input-group mb-3">
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <input
        type="text"
        name="password"
        class="form-control"
        placeholder="Password"
        aria-label="Password"
        aria-describedby="basic-addon1"
      />
    </div>
    <button class="btn btn-dark">Login</button>
  </form>
</div>

{% end %}
